# {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content:space-between
    align-items: center; 
    background-color: beige;
}

.cartao{
    width: 260px;
    height: 200px;

}

.cartao-imagem{
width: 100%;
border-radius: 10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkkhaki;
}

main {
    flex: 1;
} 


.cabecalho-link{
    color: rgb(177, 220, 5);
    text-decoration: none;
}

h1 {
    color: crimson;
    font-size: 24px;
}